body {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: 88%;
}

label,
input,
textarea {
	width: 100%;
}

label {
	font-weight: bold;
}
label:hover{
	cursor: default;
}

input,
textarea {
	margin-bottom: 2em;
}

textarea {
	height: 6em;
}

.text-center{
	text-align: center;
}

#progress input{
	width: 0;
	margin-bottom: 0;
}

#progress .tasks{
	background-color: #f2f2f2;
	padding: 1em;
}

#progress .tasks label {
	font-weight: normal;
}

.progress .p0{
	background-color: green;
	width: 0%;
	height: 20px;
}

.progress .p20{
	background-color: green;
	width: 20%;
	height: 20px;
}

.progress .p40{
	background-color: green;
	width: 40%;
	height: 20px;
}

.progress .p60{
	background-color: green;
	width: 60%;
	height: 20px;
}

.progress .p80{
	background-color: green;
	width: 80%;
	height: 20px;
}

.progress .p100{
	background-color: green;
	width: 100%;
	height: 20px;
}



/* Checkbox style */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 3px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #a8a8a8;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #5bb55e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}